	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<title>Лучший выбор горящих путёвок</title>
			<link href="style.css" rel="stylesheet" type="text/css"/>
			<link href="img/mainico.ico" rel="shortcut icon" type="image/x-icon">
		</head>
		<body>
			<div class="header_regestration">
				<header>
							<div class="header">
								<img class="logo" src="img/logo.png" title="main" alt="main">
								<strong>Тур агенство ООО "УлетимИзРоссии.ru"</strong>
							</div>
							</br>
						</header>
					<form action="/login_page">
					<div class="regestration">
						<label for="Name"><strong>Логин</strong></label>
						<input spellcheck="false" class="button-login_page" type="text" name="Name" id="Name"></br>
						<label for="Password"><strong>Пароль</strong></label>
						<input class="button-login_page" type="password" name="Password" id="Password">
						<button class="button_tocomein" type="button" onclick="alert('Сюда нельзя :3')">Вход</button> <strong>или</strong>
						<button class="button_regestration" type="button" onclick="alert('Сюда тоже :?')">Зарегестрироваться</button>
					</div>
			</form>
		</div>
			<nav>
				<div class="body-content">
					<h1 class="h11"><a href="main.html" title="О нашей компании">О нашей компании</a></h1>
					<h1 class="h12"><a href="navi.html" title="Навигатор по странам">Навигатор по странам</a></h1>
			</div>
			</nav>
				<center><h2>Россия</h2></center></br>
				<center><table id="customers">
				<tr>
					<th>Откуда</th>
					<th>Куда</th>
					<th>Дата выезда/вылета</th>
					<th>Время выезда/вылета</th>
					<th>Тип транспорта</th>
					<th>Цена за 1 человека</th>
				</tr>
				<tr>
					<td>Волгоград</td>
					<td>Москва</td>
					<td>15.04.2019</td>
					<td>15.00 по МСК</td>
					<td>Самолёт</td>
					<td>4348р</td>
				</tr>
				<tr>
					<td>Волгоград</td>
					<td>Воронеж</td>
					<td>16.04.2019</td>
					<td>03.00 по МСК</td>
					<td>Самолёт</td>
					<td>12668р</td>
				</tr>
				<tr>
					<td>Волгоград</td>
					<td>Ростов-на-Дону</td>
					<td>17.04.2019</td>
					<td>10.00 по МСК</td>
					<td>Самолёт</td>
					<td>12412р</td>
					<tr>
					<td>Волгоград</td>
					<td>Санкт-Петербург</td>
					<td>17.04.2019</td>
					<td>17.00 по МСК</td>
					<td>Самолёт</td>
					<td>5098р</td>
					<tr>
					<td>Волгоград</td>
					<td>Белгород</td>
					<td>25.04.2019</td>
					<td>19.45 по МСК</td>
					<td>Самолёт</td>
					<td>14500р</td>
					<tr>
					<td>Волгоград</td>
					<td>Калининград</td>
					<td>26.04.2019</td>
					<td>16.40 по МСК</td>
					<td>Самолёт</td>
					<td>13008р</td>
				</tr>
				</tr>
				</tr>
			</tr>
			</table></center> </br>
				<center>
					<button class="button-buy_ticket" type="button" onclick="alert('В данный момент заказать билет невозможно, попробуйте позже')">
							<strong>Купить билет</strong></button>
				</center>
			</br>
			<a name="down2"></a></p>
		<center><h2>Зарубежные государства</h2></center></br>
		<center><table id="cistomers">
				<tr>
					<th>Откуда</th>
					<th>Куда</th>
					<th>Дата выезда/вылета</th>
					<th>Время выезда/вылета</th>
					<th>Тип транспорта</th>
					<th>Цена за 1 человека</th>
				</tr>
				<tr>
					<td>Волгоград</td>
					<td>Варшава/Польша</td>
					<td>27.04.2019</td>
					<td>05.00 по МСК</td>
					<td>Самолёт</td>
					<td>25178р</td>
				</tr>
				<tr>
					<td>Волгоград</td>
					<td>Берлин/Германия</td>
					<td>09.05.2019</td>
					<td>12.00 по МСК</td>
					<td>Самолёт</td>
					<td>13331р</td>
				</tr>
				<tr>
					<td>Волгоград</td>
					<td>Стамбул/Турция</td>
					<td>17.05.2019</td>
					<td>10.00 по МСК</td>
					<td>Самолёт</td>
					<td>17336р</td>
					<tr>
					<td>Волгоград</td>
					<td>Лос-Анджелес/США</td>
					<td>28.05.2019</td>
					<td>17.00 по МСК</td>
					<td>Самолёт</td>
					<td>18004р</td>
					<tr>
					<td>Волгоград</td>
					<td>Мехико/Мексика</td>
					<td>01.06.2019</td>
					<td>23.20 по МСК</td>
					<td>Самолёт</td>
					<td>15678рр</td>
					<tr>
					<td>Волгоград</td>
					<td>Оттава/Канада</td>
					<td>28.06.2019</td>
					<td>18.00 по МСК</td>
					<td>Самолёт</td>
					<td>22543рр</td>
				</tr>
				</tr>
				</tr>
				</tr>
			</table></center>
				</br>
				<center>
					<button class="button-buy_ticket" type="button" onclick="alert('В данный момент заказать билет невозможно, попробуйте позже')">
						<strong>Купить билет</strong>
					</button>
				</center>
			</div>
		</br>
	</br>
		</body>
	</html>
